@model IEnumerable<MVCToDoList.Models.tToDo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fulid">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mt-4">
        <div class="card  ">
            <div class="card-header">
                Current Task
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col" class="col-1 col-sm-1 col-md-1">#</th>
                            <th scope="col" class="col-6 col-sm-6 col-md-6">Task</th>
                            <th scope="col" class="col-1 col-sm-1 col-md-1">Level</th>
                            <th scope="col" class="col-2 col-sm-2 col-md-2">Deadline</th>
                            <th scope="col" class="col-2 col-sm-2 col-md-2">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@Html.DisplayFor(modelItem => item.fId)</th>
                                <td>@Html.DisplayFor(modelItem => item.fTitle)</td>
                                <td>@Html.DisplayFor(modelItem => item.fLevel)</td>
                                <td>@DateTime.Parse(item.fDeadline.ToString()).ToShortDateString()</td>
                                <td>
                                    <button id="delete" type="submit" class="btn btn-danger">
                                        <i class="fa fa-btn fa-trash"></i>@Html.ActionLink("Delete", "Delete", new { id = item.fId })
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>

    </script>

}


